body {
    font-family: "Noto Sans", sans-serif;
            margin: 0;
            padding: 0;
            background-size: cover;
            color: white;
            background-color: #121212;
            justify-content: center;
        }
        .container{
            display: none;
        }
        a{
            color: white;
            text-decoration: none;
        }
        #popup-content{
            font-size: 15px;
            background-color: transparent;
            line-height: 25px;
        }
        @media (max-width: 768px)  {
            body {
                font-family: "Noto Sans", sans-serif;
                        margin: 0;
                        padding: 0;
                        background-size: cover;
                        color: white;
                        background-color: #121212;
                        display: flex;
                        justify-content: center;
                        /* background-image: url("https://images.unsplash.com/photo-1639588435079-046d4b50e7bf?q=80&w=2206&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
                    }
            .container {
                display: block;
        text-align: center;
        padding: 20px;
        border-radius: 15px;
        width: 95%;
        max-width: 400px;
        margin: 50px auto;
        position: fixed;
        top: 26%;
        }
        .input-section{
            position: relative;
            top: -90px;        
        }
        div#user-details{
            position: relative;
            top: -90px;        
        }
        img {
            position: fixed;
            width: 25%;
            top: 15%;    
        border-radius: 12px;
        border: 1.3px solid rgb(255, 255, 255);
        }
        #icon-display {
            position: fixed;
        font-size: 13px;
        padding: 9px;
        background-color: rgb(0 76 255);
        color: #ffffff;
        border-radius: 4px;
        top: 1em;
        right: 1em;
        }
        .location {
            font-size: 15px;
        font-weight: 100;
        position: fixed;
        top: 15px;
        color: gray;
        left: 15px;
        }

        .temperature {
            font-size: 2em;
            font-weight: 300;
            margin: 0;
        }

        .weather-description {
            font-size: 1.5em;
            font-weight: 500;
            margin: 10px 0;
        }
        .prices{
            display: flex
;
    white-space: nowrap;
    gap: 10px;
    overflow: scroll;
    margin-bottom: 50px;
        }
        .date {
            margin-top: 12px;

            font-size: 1.2em;
            color: #ffffff;
        }
        .logo{
            display: flex
;
    justify-content: center;
        }
        .menu{
            display: flex
            ;
                    gap: 55px;
                    align-items: end;
                    justify-content: center;
                    font-size: 20px;
                    padding: 35px 0px;
                    border-radius: 0px;
                    border-top: solid 1px #505050;
                    position: fixed;
                    bottom: 0px;
                    width: 100%;
                    background: #1e1e1e;
                    left: 0px;
                    height: 25px;
            
            
        }
        .menu i{
            font-size: 18px;
        }
p{
    background: #282828;
        padding: 10px;
        border-radius: 10px;
        font-size: 12px;
        color: #a8a8a8;
}
        .forecast {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .day {
            text-align: center;
            width: 60px;
        }

        .day .day-name {
            font-size: 1em;
            margin-bottom: 5px;
        }

        .day .icon {
            font-size: 1.5em;
            margin-bottom: 5px;
        }

        .day .high-low {
            font-size: 1em;
        }
        .price {
            display: flex
;
        width: 95%;
        left: 10px;
        position: fixed;
        }
        .matter {
            bottom: 15px;
        position: relative;
        background-color: rgb(0 76 255);
        color: #ffffff;
        padding: 13px;
        border-radius: 5px;
        }

    }
